@model List<WalletHistory>
<h1>Wallet User List @(Model.Count)</h1>
@{
	int count = 0;
}
<a href="/Wallet/Create" class="btn btn-outline-success">Register Wallet User</a>
<a href="/Wallet/Deposit" class="btn btn-outline-success">Deposit</a>
<a href="/Wallet/Withdraw" class="btn btn-outline-success">Withdraw</a>
<a href="/Wallet/History" class="btn btn-outline-success">Wallet History List</a>
<a href="/Wallet/Transaction" class="btn btn-outline-success">Transaction</a>
<a href="/Wallet/TransactionHistory" class="btn btn-outline-success">Transaction History List</a>
<table class="table table-responsive">
	<thead>
		<tr>
			<th>No.</th>
			<th>MobileNo</th>
			<th>Transaction Type</th>
			<th>Amount</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

			<tr>
				<td>@(++count)</td>
				<td>@item.MobileNo</td>
				<td>@item.TransactionType</td>
				<td>@item.Amount</td>
				<td>@item.Date</td>
			</tr>
		}
	</tbody>
</table>
@section nav {
	@await Html.PartialAsync("ButtonBadge");
}